*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif;
}
.section{
    background-image: url(../images/moving\ 1.png);
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    position: absolute;
    margin: 10px;
    width: auto;
}
nav{
    display: flex;
    flex-direction: row;
}
nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-top: 50px;
    margin-left: 80px;
    margin: 20px;

    

}
nav ul li a{
    color: white;
    padding: 0px 0px;
    position: relative;
    top: -50px;
    right: -650px;   
}
nav a.active{
    background-color: yellow;
    color: black;
    border: 2px solid white;
}
nav a.active1{
    background-color: black;
    border: 3px solid black;
}
nav a:hover{
    color: blue;
}
.par{
    font-size:3em;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
    top: 30px;
}
.par1
{
    font-size: xx-large;
    justify-items: flex-start;
    position: relative;
    top: 70px;
}
.cut
{
    position: relative;
    left: 800px;
    top: -300px;
}
.but1{
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    border-style: groove;
    border-right: hidden;
}
.movers{
    position: relative;
    top: 10px;
    right: -10px;
    border: 0px 0px 0px 0px;
    border-color:gray;
    border-left: 5px;
    border-top: 50px;
    background-color: rgb(209, 202, 194);

}
.mover{
    position: relative;
    top: 300px;
    right: 900px;
    display: table;
}
.bed::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e2b7";
  }

  .shower::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    content: "\f2cd";
  }
  .frame:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    content: "\23";
  }
#pic1{
    position: relative;
    right: 800px;
    max-width: 500px;
    top: 350px;
}
.pic2{
    float: left;
    padding: 4px;
}
.movers::after{
    content: "";
    clear: both;
    display: table;
}
.container1{
    position: relative;
    top: 90px;
    right: -1px;
    background-color: rgb(17, 16, 7);
}
.even-columns{
    display: flex;
    justify-content: space-evenly;
}
.link{
    position: relative;
    right: -100px;
    top: 1px;
    color: white;

}
.app-icons{
    position: relative;
    right: 1000px;
    top: -80px;
}
